span {
  color: #ce4c0f;
}

/* MOBILE */
@media (max-width: 749px) {
  h2 {
    margin-top: 5%;
  }
  .table {
    overflow-x: auto; }
  .add {
    display: block }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
  .navbar-list {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .navbar-item {
    width: 100%;
    /* text-align: center; */
    margin-bottom: 10px; }
  .navbar-item:last-child {
    margin-bottom: 0; }
  .navbar-link {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem; } 
  .navbar-link:hover {
    color: #ce4c0f; }
  .navbar-toggle {
    padding: 0;
    display: block;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer; }
  .navbar-collapsed .navbar-list {
    display: block; }
  .popover-list {
    list-style-type: none; }
  .popover-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    color: #222;
  }
}

/* LARGER THAN TABLET */
@media (min-width: 750px) {
  .head {
    margin-top: 15%;}
  .add {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  h1 {
    font-size: 11em;
    margin-top: 15%;
    margin-bottom: 5%;
  }
  /* NAVBAR */
  .navbar-toggle {
    display: none;
  }
  .navbar {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link:active { color: #ce4c0f; }
  .navbar-link:hover { color: #ce4c0f; }
  .navbar {
    position: fixed;
    top: 0;
    left: 0; }

  /* POPOVER */
  .popover.open {
    display: block;
    margin-left: 25px;
  }

  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
        -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after, 
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #ce4c0f; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #ce4c0f; }
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #e05312;
  border-color: #e05312; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #ce4c0f;
  border-color: #ce4c0f; }